body {
    background-color: #DDDDDD;
}

.row {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-area {
    margin-bottom: 10px;
}

.map {
    height: 400px;
}

